h1{
    margin: 10px 0px;
    text-align: center;
}
body{
    background-color: cornflowerblue;
}
form input,textarea{
    display: block;
    width: 67%;
    margin: auto;
    padding: 5px 4px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
form .btn{
    display: block;
    margin: auto;
    padding: 4px 19px;
    border-radius: 9px;
    font-size: 20px;
    font-weight: bold;
    background-color: #49e625f7;
    font-family: sans-serif;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    padding:8px 10px;
}