block head 
    title Characters
block style
    style
      include ../static/scripts/style.css
      include ../static/scripts/character.css
block content
    nav.navbar
        ul.navelem
            li
                a(href="/home") Home
            li.active-color
                a(href="/character") Character
            li
                a(href="/weapon") Weapon
            li
                a(href="/maps&modes") Maps & Modes
            li
                a(href="/contact") Contact
    div.hamburger
        div.lines
        div.lines
        div.lines
    h1 Characters
    div.characters 
        div.charbox
            img(src="../static/img/characters/a124.png", alt="")
            div.info 
                h1 A124
                p A124 is a robot made with modern technology.#[br]#[br]#[h3 Skills]#[br]Convert part of the EP into HP.
        div.charbox
            img(src="../static/img/characters/Alok.png", alt="")
            div.info 
                h1 Alok
                p Alok is a world famous DJ, ready to drop a beat.#[br]#[br]#[h3 Skills]#[br]Create a 5m aura that increase moving and sprinting speed and restore HP.
        div.charbox
            img(src="../static/img/characters/Alvaro.png", alt="")
            div.info 
                h1 Alvaro
                p Alvaro is a wild but skilled demolitionist.#[br]#[br]#[h3 Skills]#[br]Explosive weapon damage increases , damage range increases.
        div.charbox
            img(src="../static/img/characters/andrew.png", alt="")
            div.info 
                h1 Andrew
                p Andrew is police officer.#[br]#[br]#[h3 Skills]#[br]Decrease in vest durability loss.
        div.charbox
            img(src="../static/img/characters/antonio.png", alt="")
            div.info 
                h1 Antonio
                p Antonio was an orphan who grew up to be gangster.#[br]#[br]#[h3 Skills]#[br]Receive extra HP when the round starts.
        div.charbox
            img(src="../static/img/characters/caroline.png", alt="")
            div.info 
                h1 Caroline
                p Caroline is the most popular girl at school.#[br]#[br]#[h3 Skills]#[br]Increased movement speed when holding a shotgun
        div.charbox
            img(src="../static/img/characters/Clu.png", alt="")
            div.info 
                h1 Clu
                p Clu is a modern day private detective.#[br]#[br]#[h3 Skills]#[br]Locate positions of enemies who are not in prone or squat position,CD50s.
        div.charbox
            img(src="../static/img/characters/ford.png", alt="")
            div.info 
                h1 Ford
                p Ford was an ordinary man from the navy.#[br]#[br]#[h3 Skills]#[br]Reduce damage taken outside safe zone.
        div.charbox
            img(src="../static/img/characters/hayato.png", alt="")
            div.info 
                h1 Hayato
                p Hayato is a legendary samurai.#[br]#[br]#[h3 Skills]#[br]The lower the HP, the higher the armor penetration becomes.
        div.charbox
            img(src="../static/img/characters/jai.png", alt="")
            div.info 
                h1 Jai
                p Jai is a SWAT Commander.#[br]#[h3 Skills]#[br]After taking down an opponent, the gun's magazine automatically gets reloaded (limited to AR, Pistol, SMG and SG)    
        div.charbox
            img(src="../static/img/characters/Joseph.png", alt="")
            div.info 
                h1 Joseph
                p Joseph is a well known physicist and also a player#[br]#[br]#[h3 Skills]#[br]Movement speed increased temporarily upon taking damage.
        div.charbox
            img(src="../static/img/characters/Jota.png", alt="")
            div.info 
                h1 Jota
                p Jota is a parkover expert and stuntman.#[br]#[br]#[h3 Skills]#[br]SMG or Shotgun kills will instantly restore HP, cool down 5 seconds.
        div.charbox
            img(src="../static/img/characters/K.png", alt="")
            div.info 
                h1 K
                p K is a professor and a jiujitsu expert.#[br]#[h3 Skills]#[br]Max EP increases by 50. Jiujitsu Mode: Allies within 6m get 500% increase in EP conversion rate.
        div.charbox
            img(src="../static/img/characters/Kapella.png", alt="")
            div.info 
                h1 Kapella
                p Kapella is a popularpop singer and star.#[br]#[br]#[h3 Skills]#[br]Increase effects of healing items and healing skills. Reduce ally HP loss. 
        div.charbox
            img(src="../static/img/characters/kelly.png", alt="")
            div.info 
                h1 Kelly
                p Kelly is a high school sprinter.#[br]#[br]#[h3 Skills]#[br]Increase in sprinting speed.
        div.charbox
            img(src="../static/img/characters/kla.png", alt="")
            div.info 
                h1 Kla
                p Kla was a Muay Thai Practitioner.#[br]#[br]#[h3 Skills]#[br]Increased fist damage.
        div.charbox
            img(src="../static/img/characters/laura.png", alt="")
            div.info 
                h1 Laura
                p Laura is an outstanding special agent.#[br]#[br]#[h3 Skills]#[br]Accuracy increased while scoped in
        div.charbox
            img(src="../static/img/characters/Luqueta.png", alt="")
            div.info 
                h1 Luqueta
                p Luqueta is an up rising soccer star.#[br]#[br]#[h3 Skills]#[br]Every kill increase the max HP, up to 35
        div.charbox
            img(src="../static/img/characters/maxim.png", alt="")
            div.info 
                h1 Maxim
                p Maxim is a competitive speed eater.#[br]#[br]#[h3 Skills]#[br]Reduce time for eating mushrooms and using med kits.
        div.charbox
            img(src="../static/img/characters/miguel.png", alt="")
            div.info 
                h1 Miguel
                p Miguel is a captain of the special forces.#[br]#[br]#[h3 Skills]#[br]Miguel Can Gain EP for each kill
        div.charbox
            img(src="../static/img/characters/misha.png", alt="")
            div.info 
                h1 Misha
                p Misha is an extremely talented racer.#[br]#[br]#[h3 Skills]#[br]Increase driving speed and reduce damage taken while inside vehicles.
        div.charbox
            img(src="../static/img/characters/moco.png", alt="")
            div.info 
                h1 Moco
                p Moco is an outstanding hacker.#[br]#[br]#[h3 Skills]#[br]Tags the enemies for a few seconds on the map.
        div.charbox
            img(src="../static/img/characters/nikita.png", alt="")
            div.info 
                h1 Nikita
                p Nikita is a professional bodyguard.#[br]#[br]#[h3 Skills]#[br]Reload Submachine gun faster.
        div.charbox
            img(src="../static/img/characters/Notora.png", alt="")
            div.info 
                h1 Notora
                p Notora is tomboyish motorcycle gang member.#[br]#[br]#[h3 Skills]#[br]When driving a vehicle, restore HP of all members on the vehicle. 
        div.charbox
            img(src="../static/img/characters/olivia.png", alt="")
            div.info 
                h1 Olivia
                p Olivia is a nurse.#[br]#[br]#[h3 Skills]#[br]Players revived by Olivia will get extra HP.
        div.charbox
            img(src="../static/img/characters/paloma.png", alt="")
            div.info 
                h1 Paloma
                p Paloma is the reigning arms queen of the underworld.#[br]#[br]#[h3 Skills]#[br]Able to carry AR ammo without taking up inventory space.
        div.charbox
            img(src="../static/img/characters/rafael.png", alt="")
            div.info 
                h1 Rafael
                p Rafael is a deedly killer.#[br]#[br]#[h3 Skills]#[br]You will not be revealed on the mini-map for 8s.
        div.charbox
            img(src="../static/img/characters/Shani.png", alt="")
            div.info 
                h1 Shani
                p Shani is an engineer who works in junkyard.#[br]#[br]#[h3 Skills]#[br]Restore armor durability after every kill.
        div.charbox
            img(src="../static/img/characters/Steffie.png", alt="")
            div.info 
                h1 Steffie
                p Steffie is a pro graffiti artist.#[br]#[br]#[h3 Skills]#[br]Create a graffiti that reduces explosive damage and bullet damage by 5% for some seconds.
        div.charbox
            img(src="../static/img/characters/Wolfrahh.png", alt="")
            div.info 
                h1 Wolfrahh
                p Wolfrahh is a game streamer.#[br]#[br]#[h3 Skills]#[br]With every additional viewer: Damage taken from headshots decreases,up to 25%. Damage to enemy's limbs increases.
        div.charbox
            img(src="../static/img/characters/wukong.png", alt="")
            div.info 
                h1 Wukong
                p Wukong is the monkey king.#[br]#[br]#[h3 Skills]#[br]Camouflage: Turn into a Bush.
    footer Made by Gaurav with ❤️️
    script
      include ../static/scripts/toggle.js
    