block head 
    title Garena Freefire Remake
block style
    style
      include ../static/scripts/style.css
      include ../static/scripts/home.css
block content
    nav.navbar
        ul.navelem
            li.active-color
                a(href="/home") Home
            li
                a(href="/character") Character
            li
                a(href="/weapon") Weapon
            li
                a(href="/maps&modes") Maps & Modes
            li
                a(href="/contact") Contact
    div.hamburger
        div.lines
        div.lines
        div.lines
    div.container
        div.description
            p.first
                |Garena Free Fire (also known as Free Fire Battlegrounds or Free Fire) is a battle royale game
                | developed by 111 Dots Studio using Unity Game Engine and published by Garena for Android and iOS.
                |It became the most downloaded mobile game globally in 2019. Due to its popularity, 
                |the game received the award for the "Best Popular Vote Game" by the Google Play Store in 2019.
                |As of May 2020, Free Fire has set a record with over 80 million daily active users globally.
                |As of November 2019, Free Fire has grossed over $1 billion worldwide.
                |Garena is currently working on an enhanced version of Free Fire which will be called Free Fire Max.#[br]#[br]
            h1 Gameplay#[br]#[br] 
            p
                |Garena Free Fire is an online-only action-adventure battle royale game played in a third person perspective.
                |The game consists of up to 50 players falling from a parachute on an island in search of weapons and equipment 
                |to kill the other players. Players are free to choose their starting position, take weapons and supplies to extend their battle life.
                |When players join a game, they will enter a plane, which will fly over the island. While the plane is flying over the island, 
                |the players can jump where they want, thus allowing them to choose a strategic place to land away from enemies. 
                |After landing, the players must then go looking for weapons and utility items. Medical equipment, medium and large weapons, grenades, 
                |and other items featured can be found throughout the island. The ultimate goal of the players is to survive on the island with a maximum 
                |of 50-51 players online; this requires eliminating all opponents the players encounter along the way and ensuring that they are the only survivor remaining. 
                |The available safe area of the game's map decreases in size over time, directing the surviving players into tighter areas to force encounters. 
                |The last player or team standing wins the round. 
    footer Made by Gaurav with ❤️️
    script
      include ../static/scripts/toggle.js
    