block head 
    title Weapons
block style
    style
      include ../static/scripts/style.css
      include ../static/scripts/weapon.css
block content
    nav.navbar
        ul.navelem
            li
                a(href="/home") Home
            li
                a(href="/character") Character
            li.active-color
                a(href="/weapon") Weapon
            li
                a(href="/maps&modes") Maps & Modes
            li
                a(href="/contact") Contact
    div.hamburger
        div.lines
        div.lines
        div.lines
    div.icons 
        ul 
            li.gun-launcher
                div.launcher.images
                div.launcher-h.hover
                span Launcher
            li.gun-lmg
                div.lmg.images
                div.lmg-h.hover
                span Lmg
            li.gun-smg
                div.smg.images
                div.smg-h.hover
                span Smg
            li.gun-shotgun
                div.shotgun.images
                div.shotgun-h.hover
                span Shotgun
            br
            li.gun-pistol
                div.pistol.images
                div.pistol-h.hover
                span Pistol
            li.gun-melee
                div.melee.images
                div.melee-h.hover
                span Melee
            li.gun-bow
                div.bow.images
                div.bow-h.hover
                span Bow
            li.gun-ar
                div.ar.images
                div.ar-h.hover
                span AR
            li.gun-sniper
                div.sniper.images
                div.sniper-h.hover
                span Sniper
    div.weapons 
        div.ar.weapon 
            div.namebar
                span.name AK47 
                img(src="../static/img/guns/icons/bullet.png", alt="")
                span 30
            img(src="../static/img/guns/ak.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.ar.weapon 
            div.namebar
                span.name AN94 
                img(src="../static/img/guns/icons/bullet.png", alt="")
                span 30
            img(src="../static/img/guns/an94.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.ar.weapon 
            div.namebar
                span.name AUG 
                img(src="../static/img/guns/icons/bullet.png", alt="")
                span 35
            img(src="../static/img/guns/aug.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.sniper.weapon 
            div.namebar
                span.name AWM 
                img(src="../static/img/guns/icons/bullet.png", alt="")
                span 5
            img(src="../static/img/guns/awm.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.melee.weapon 
            div.namebar
                span.name PAN 
            img(src="../static/img/guns/pan.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.smg.weapon 
            div.namebar
                span.name CG15 
                img(src="../static/img/guns/icons/bullet.png", alt="")
                span 20
            img(src="../static/img/guns/cg15.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.bow.weapon 
            div.namebar
                span.name CROSSBOW 
                img(style="margin-left:44%", src="../static/img/guns/icons/bullet.png", alt="")
                span 5
            img(src="../static/img/guns/crossbow.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.pistol.weapon 
            div.namebar
                span.name DESERT EAGLE 
                img(style="margin-left:29%",src="../static/img/guns/icons/bullet.png", alt="")
                span 7
            img(src="../static/img/guns/desert.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.ar.weapon 
            div.namebar
                span.name FAMAS 
                img(style="margin-left:60%",src="../static/img/guns/icons/bullet.png", alt="")
                span 30
            img(src="../static/img/guns/famas.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.pistol.weapon 
            div.namebar
                span.name TREATMENT GUN 
                img(style="margin-left:15%",src="../static/img/guns/icons/bullet.png", alt="")
                span 15
            img(src="../static/img/guns/treatment.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.lmg.weapon 
            div.namebar
                span.name GATLING 
                img(style="margin-left:48%",src="../static/img/guns/icons/bullet.png", alt="")
                span 1200
            img(src="../static/img/guns/gatling.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.melee.weapon 
            div.namebar
                span.name GRENADE 
            img(src="../static/img/guns/grenade.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.ar.weapon 
            div.namebar
                span.name GROZA 
                img(style="margin-left:58%",src="../static/img/guns/icons/bullet.png", alt="")
                span 30
            img(src="../static/img/guns/groza.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.pistol.weapon 
            div.namebar
                span.name HAND CANNON 
                img(style="margin-left:29%",src="../static/img/guns/icons/bullet.png", alt="")
                span 2
            img(src="../static/img/guns/hand_canon.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.ar.weapon 
            div.namebar
                span.name HEATGUN 
                img(style="margin-left:48%",src="../static/img/guns/icons/bullet.png", alt="")
                span 30
            img(src="../static/img/guns/heatgun.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.launcher.weapon 
            div.namebar
                span.name RGS50 
                img(style="margin-left:64%",src="../static/img/guns/icons/bullet.png", alt="")
                span 3
            img(src="../static/img/guns/rgs50.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.launcher.weapon 
            div.namebar
                span.name MGL140 
                img(style="margin-left:58%",src="../static/img/guns/icons/bullet.png", alt="")
                span 5
            img(src="../static/img/guns/mgl140.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.launcher.weapon 
            div.namebar
                span.name M79 
                img(style="margin-left:73%",src="../static/img/guns/icons/bullet.png", alt="")
                span 1
            img(src="../static/img/guns/m79.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.lmg.weapon 
            div.namebar
                span.name M249 
                img(style="margin-left:65%",src="../static/img/guns/icons/bullet.png", alt="")
                span 100
            img(src="../static/img/guns/m249.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.smg.weapon 
            div.namebar
                span.name MP40 
                img(style="margin-left:65%",src="../static/img/guns/icons/bullet.png", alt="")
                span 20
            img(src="../static/img/guns/mp40.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.smg.weapon 
            div.namebar
                span.name THOMPSON 
                img(style="margin-left:41%",src="../static/img/guns/icons/bullet.png", alt="")
                span 42
            img(src="../static/img/guns/thompson.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.melee.weapon 
            div.namebar
                span.name KATANA 
            img(src="../static/img/guns/katana.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.shotgun.weapon 
            div.namebar
                span.name SPAS12 
                img(style="margin-left:60%",src="../static/img/guns/icons/bullet.png", alt="")
                span 5
            img(src="../static/img/guns/spas12.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.shotgun.weapon 
            div.namebar
                span.name M1014 
                img(style="margin-left:64%",src="../static/img/guns/icons/bullet.png", alt="")
                span 6
            img(src="../static/img/guns/m1014.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.shotgun.weapon 
            div.namebar
                span.name M1887 
                img(style="margin-left:64%",src="../static/img/guns/icons/bullet.png", alt="")
                span 2
            img(src="../static/img/guns/m1887.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.sniper.weapon 
            div.namebar
                span.name KAR98K 
                img(style="margin-left:56%",src="../static/img/guns/icons/bullet.png", alt="")
                span 5
            img(src="../static/img/guns/kar98.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
        div.sniper.weapon 
            div.namebar
                span.name M82B 
                img(style="margin-left:66%",src="../static/img/guns/icons/bullet.png", alt="")
                span 8
            img(src="../static/img/guns/m82b.png", alt="")
            div.description 
                div.part
                    div.feature 
                        span DAMAGE
                        div.decoration
                            div.status
                                div.statusbar-dm
                            span 60
                    div.feature 
                        span RATE OF FIRE
                        div.decoration
                            div.status
                                div.statusbar-rf
                            span 56
                div.part
                    div.feature 
                        span RANGE
                        div.decoration
                            div.status
                                div.statusbar-rg
                            span 100
                    div.feature 
                        span RELOAD SPEED
                        div.decoration
                            div.status
                                div.statusbar-rs
                            span 62
                div.part
                    div.feature 
                        span MAGAZINE
                        div.decoration
                            div.status
                                div.statusbar-mz
                            span 30
                    div.feature 
                        span ACCURACY
                        div.decoration
                            div.status
                                div.statusbar-ac
                            span 90
                div.part
                    div.feature 
                        span MOVEMENT SPEED
                        div.decoration
                            div.status
                                div.statusbar-ms
                            span 65
                    div.feature 
                        span ARMOUR PENETRATION
                        div.decoration
                            div.status
                                div.statusbar-ap
                            span 10
    footer Made by Gaurav with 
    script
      include ../static/scripts/toggle.js
      include ../static/scripts/weapon.js
    